*.pbxproj -text
*.js linguist-vendored
android/* linguist-vendored=false
ios/* linguist-vendored=false
*.py linguist-vendored=false
*.m linguist-vendored=false
*.h linguist-vendored=false
*.mm linguist-vendored=false
*.M linguist-vendored=false
